
h1 {display: flex;
    justify-content: center;
    align-items:center;
    background-color:rosybrown;
    border-radius : 10%;
     
    
}
.body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
